apiVersion: v1
kind: Service
metadata:
  name: wazuh-manager
  namespace: wazuh
spec:
  selector:
    app: wazuh-manager
  ports:
  - port: 1514
---
apiVersion: v1
kind: Service
metadata:
  name: wazuh-indexer
  namespace: wazuh
spec:
  selector:
    app: wazuh-indexer
  ports:
  - port: 9200
---
apiVersion: v1
kind: Service
metadata:
  name: wazuh-dashboard
  namespace: wazuh
spec:
  type: NodePort
  selector:
    app: wazuh-dashboard
  ports:
  - port: 443
    nodePort: 30443
