apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: wazuh
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/YOUR_USERNAME/wazuh-gitops.git
    targetRevision: main
    path: k8s/wazuh
  destination:
    server: https://kubernetes.default.svc
    namespace: wazuh
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
