apiVersion: apps/v1
kind: Deployment
metadata:
  name: wazuh-indexer
  namespace: wazuh
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wazuh-indexer
  template:
    metadata:
      labels:
        app: wazuh-indexer
    spec:
      containers:
        - name: wazuh-indexer
          image: wazuh/wazuh-manager:4.8.1
          env:
            - name: OPENSEARCH_JAVA_OPTS
              value: "-Xms512m -Xmx512m"
          resources:
            requests:
              cpu: "250m"
              memory: "1Gi"
            limits:
              cpu: "1"
              memory: "1536Mi"
          volumeMounts:
            - mountPath: /var/lib/wazuh-indexer
              name: indexer-data
      volumes:
        - name: indexer-data
          persistentVolumeClaim:
            claimName: wazuh-indexer-pvc
