apiVersion: apps/v1
kind: Deployment
metadata:
  name: wazuh-indexer
  namespace: wazuh
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wazuh-indexer
  template:
    metadata:
      labels:
        app: wazuh-indexer
    spec:
      containers:
      - name: wazuh-indexer
        image: wazuh/wazuh-indexer:4.8.2
        ports:
        - containerPort: 9200
        env:
        - name: OPENSEARCH_JAVA_OPTS
          value: "-Xms1g -Xmx1g"
        resources:
          requests:
            memory: "1.5Gi"
            cpu: "500m"
          limits:
            memory: "2.5Gi"
            cpu: "1"
        volumeMounts:
        - name: indexer-data
          mountPath: /var/lib/wazuh-indexer
      volumes:
      - name: indexer-data
        persistentVolumeClaim:
          claimName: wazuh-indexer-pvc
