apiVersion: apps/v1
kind: Deployment
metadata:
  name: wazuh-manager
  namespace: wazuh
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wazuh-manager
  template:
    metadata:
      labels:
        app: wazuh-manager
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: wazuh-manager
          image: ghcr.io/wazuh/wazuh-manager:4.8.1
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1"
              memory: "1536Mi"
          volumeMounts:
            - mountPath: /var/ossec
              name: manager-data
      volumes:
        - name: manager-data
          persistentVolumeClaim:
            claimName: wazuh-manager-pvc
