indexer:
  replicas: 1
  persistence:
    enabled: true
    size: 50Gi
    storageClass: local-storage
  resources:
    requests:
      memory: 1.5Gi
    limits:
      memory: 2Gi

wazuh:
  manager:
    replicas: 1
    persistence:
      enabled: true
      size: 10Gi
      storageClass: local-storage
    resources:
      requests:
        memory: 1Gi
      limits:
        memory: 1.5Gi

dashboard:
  enabled: true
  resources:
    requests:
      memory: 512Mi
    limits:
      memory: 1Gi
