wazuh:
  manager:
    resources:
      requests:
        cpu: 250m
        memory: 1Gi
      limits:
        cpu: "1"
        memory: 1536Mi
    persistence:
      enabled: true
      storageClass: ""
      accessMode: ReadWriteOnce
      size: 10Gi
      hostPath: /data/wazuh/manager

  indexer:
    replicas: 1
    resources:
      requests:
        cpu: 250m
        memory: 1Gi
      limits:
        cpu: "1"
        memory: 1536Mi
    persistence:
      enabled: true
      size: 15Gi
      hostPath: /data/wazuh/indexer

  dashboard:
    resources:
      requests:
        cpu: 100m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi
    service:
      type: NodePort
      nodePort: 30443
    persistence:
      enabled: true
      size: 5Gi
      hostPath: /data/wazuh/dashboard
