apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: wazuh
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/aniketpitre/wazuh-gitops.git
    targetRevision: main
    chart: wazuh
    helm:
      valueFiles:
        - wazuh/values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: wazuh
  syncPolicy:
    automated:
      selfHeal: true
      prune: false
