apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: wazuh
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://packages.wazuh.com/4.x/helm/
    chart: wazuh
    targetRevision: 4.7.3
    helm:
      valueFiles:
        - https://raw.githubusercontent.com/aniketpitre/wazuh-gitops/main/wazuh/values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: wazuh
  syncPolicy:
    automated:
      selfHeal: true
      prune: false
