name: Kubernetes Manifests CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: v1.29.0

      - name: Install kustomize
        run: |
          curl -s https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh | bash
          sudo mv kustomize /usr/local/bin/

      - name: Build manifests with kustomize
        run: |
          kustomize build wazuh/envs/local-env > /tmp/rendered.yaml

      - name: Validate Kubernetes manifests
        run: |
          kubectl apply --dry-run=client --validate=false -f /tmp/rendered.yaml
